In [1]:
#From this article: https://pypi.org/project/dxfeed/
import dxfeed as dx
from datetime import datetime  # for timed subscription

In [2]:
endpoint = dx.Endpoint('demo.dxfeed.com:7300')

In [3]:
print(f'Connected address: {endpoint.address}')
print(f'Connection status: {endpoint.connection_status}')

Connected address: demo.dxfeed.com:7300
Connection status: Connected and authorized

In [4]:
trade_sub = endpoint.create_subscription('Trade')

In [5]:
trade_handler = dx.DefaultHandler()
trade_sub = trade_sub.set_event_handler(trade_handler)

In [6]:
trade_sub = trade_sub.add_symbols(['C', 'AAPL'])

/home/cabox/miniconda3/envs/junebug/lib/python3.7/site-packages/dxfeed/wrappers/subscription.py:121: FutureWarning: New order in event fields will be introduced in dxfeed-0.6.0. Please, address event fields by name in custom event handler.
  dxp.dxf_attach_listener(self.__sub)

In [10]:
tns_sub = endpoint.create_subscription('Quote', date_time=datetime.now()).add_symbols(['AAPL'])
tns_handler = tns_sub.get_event_handler()
tns_df = tns_handler.get_dataframe()
tns_df

Empty DataFrame
Columns: [Symbol, Sequence, Time, BidTime, BidExchangeCode, BidPrice, BidSize, AskTime, AskExchangeCode, AskPrice, AskSize, Scope]
Index: []

In [11]:
candle_sub = endpoint.create_subscription('Candle', date_time='2020-04-16 13:05:00.000')
candle_sub = candle_sub.add_symbols(['AAPL', 'MSFT'])

In [ ]:
print(f'Subscription event type: {tns_sub.event_type}')
print(f'Subscription symbols: {candle_sub.symbols}')

In [12]:
candle_handler = candle_sub.get_event_handler()

In [13]:
#candle_handler.get_list()

In [14]:
trade_df = trade_handler.get_dataframe()
tns_df = tns_handler.get_dataframe()
candle_df = candle_handler.get_dataframe()

In [15]:
trade_df

,Symbol,Sequence,Price,ExchangeCode,Size,Tick,Change,DayVolume,DayTurnover,Direction,Time,RawFlags,IsETH,Scope
0,AAPL,99393,145.52,D,100.0,2,-1.58,5971291.0,8.690938e+08,0,2022-05-16 13:38:51.263,0,0,0
1,AAPL,19,145.42,A,100.0,1,-1.62,3245.0,4.719738e+05,0,2022-05-16 13:38:23.989,0,0,1
2,AAPL,57,145.45,B,100.0,2,-1.42,10250.0,1.493304e+06,0,2022-05-16 13:38:46.291,0,0,1
3,AAPL,22,145.50,C,100.0,1,-1.49,4784.0,6.952275e+05,0,2022-05-16 13:38:43.401,0,0,1
4,AAPL,4961,145.52,D,100.0,1,-1.61,2338421.0,3.403714e+08,0,2022-05-16 13:38:51.263,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
926,AAPL,56,145.54,X,100.0,1,-1.40,18055.0,2.624952e+06,0,2022-05-16 13:39:19.330,0,0,1
927,AAPL,706,145.29,J,100.0,2,-1.81,112930.0,1.641398e+07,0,2022-05-16 13:39:49.296,0,0,1
928,AAPL,1060,145.29,U,100.0,2,-1.82,174545.0,2.536725e+07,0,2022-05-16 13:39:49.296,0,0,1
929,AAPL,3132,145.29,P,100.0,2,-1.72,711234.0,1.036703e+08,0,2022-05-16 13:39:49.296,0,0,1
930,AAPL,2167,145.29,Z,100.0,2,-1.83,389351.0,5.661432e+07,0,2022-05-16 13:39:49.298,0,0,1

In [16]:
tns_df

,Symbol,Sequence,Time,BidTime,BidExchangeCode,BidPrice,BidSize,AskTime,AskExchangeCode,AskPrice,AskSize,Scope
0,AAPL,0,2022-05-16 13:39:15,2022-05-16 13:39:15,A,145.35,1.0,2022-05-16 13:38:52,A,145.71,1.0,1
1,AAPL,0,2022-05-16 13:39:16,2022-05-16 13:39:16,B,145.21,1.0,2022-05-16 13:38:46,B,145.85,5.0,1
2,AAPL,0,2022-05-16 13:39:13,2022-05-16 13:39:13,C,145.53,1.0,2022-05-16 13:39:13,C,153.07,2.0,1
3,AAPL,0,2017-07-04 02:44:04,2017-07-04 02:44:04,D,646.49,0.0,2017-07-04 02:44:04,D,653.37,0.0,1
4,AAPL,0,2022-05-16 13:39:16,2022-05-16 13:39:16,H,145.50,1.0,2022-05-16 13:39:16,H,145.80,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
881,AAPL,0,2022-05-16 13:39:49,2022-05-16 13:39:49,Z,145.28,2.0,2022-05-16 13:39:49,Z,145.29,1.0,0
882,AAPL,0,2022-05-16 13:39:49,2022-05-16 13:39:49,P,145.28,1.0,2022-05-16 13:39:49,P,145.31,2.0,1
883,AAPL,0,2022-05-16 13:39:49,2022-05-16 13:39:49,V,145.27,3.0,2022-05-16 13:39:49,V,145.34,1.0,1
884,AAPL,0,2022-05-16 13:39:49,2022-05-16 13:39:49,Y,145.20,1.0,2022-05-16 13:39:48,Y,145.37,5.0,1
885,AAPL,0,2022-05-16 13:39:49,2022-05-16 13:39:49,M,144.79,20.0,2022-05-16 13:39:48,M,145.80,20.0,1

In [17]:
candle_df

,Symbol,EventFlags,Index,Time,Sequence,Count,Open,High,Low,Close,Volume,VWap,BidVolume,AskVolume,OpenInterest,ImpVolatility
0,AAPL,4,7098328381565015284,2022-05-16 13:39:25.969,103668,1.0,145.51,145.51,145.51,145.51,937.0,145.51,937.0,NaN,NaN,NaN
1,AAPL,0,7098328381565015282,2022-05-16 13:39:25.969,103666,1.0,145.51,145.51,145.51,145.51,100.0,145.51,100.0,NaN,NaN,NaN
2,AAPL,0,7098328381565015278,2022-05-16 13:39:25.969,103662,1.0,145.51,145.51,145.51,145.51,150.0,145.51,150.0,NaN,NaN,NaN
3,AAPL,0,7098328381489517803,2022-05-16 13:39:25.951,103659,1.0,145.52,145.52,145.52,145.52,110.0,145.52,110.0,NaN,NaN,NaN
4,AAPL,0,7098328381489517800,2022-05-16 13:39:25.951,103656,1.0,145.52,145.52,145.52,145.52,100.0,145.52,100.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16896,AAPL,0,7098328481821465792,2022-05-16 13:39:49.296,105664,1.0,145.29,145.29,145.29,145.29,100.0,145.29,NaN,100.0,NaN,NaN
16897,AAPL,0,7098328481829854402,2022-05-16 13:39:49.298,105666,1.0,145.29,145.29,145.29,145.29,100.0,145.29,NaN,100.0,NaN,NaN
16898,AAPL,0,7098328482387696841,2022-05-16 13:39:49.431,105673,1.0,145.29,145.29,145.29,145.29,100.0,145.29,NaN,100.0,NaN,NaN
16899,AAPL,0,7098328482559663308,2022-05-16 13:39:49.472,105676,1.0,145.31,145.31,145.31,145.31,100.0,145.31,NaN,100.0,NaN,NaN
16900,AAPL,0,7098328482945539283,2022-05-16 13:39:49.564,105683,1.0,145.30,145.30,145.30,145.30,100.0,145.30,100.0,NaN,NaN,NaN